@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-blue: var(--color-blue);
  --color-light-100: var(--color-light-100);
  --color-light-200: var(--color-light-200);
  --color-border-dark: var(--color-border-dark);
  --color-dark-100: var(--color-dark-100);
  --color-dark-200: var(--color-dark-200);
  --font-titan-one: var(--font-titan-one);
  --font-martian-mono: var(--font-martian-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --background: oklch(0.141 0.005 285.823);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.21 0.006 285.885);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.21 0.006 285.885);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.488 0.243 264.376);
  --primary-foreground: oklch(0.97 0.014 254.604);
  --secondary: oklch(0.274 0.006 286.033);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.274 0.006 286.033);
  --muted-foreground: oklch(0.705 0.015 286.067);
  --accent: oklch(0.274 0.006 286.033);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.809 0.105 251.813);
  --chart-2: oklch(0.623 0.214 259.815);
  --chart-3: oklch(0.546 0.245 262.881);
  --chart-4: oklch(0.488 0.243 264.376);
  --chart-5: oklch(0.424 0.199 265.638);
  --sidebar: oklch(0.21 0.006 285.885);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.623 0.214 259.815);
  --sidebar-primary-foreground: oklch(0.97 0.014 254.604);
  --sidebar-accent: oklch(0.274 0.006 286.033);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.439 0 0);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-titan-one);
  color: var(--foreground);
}

ul {
  list-style: none !important;
}

.eventCardDropShadow {
  box-shadow:
    oklch(0.488 0.243 264.376 / 0.25) 0px 2px 5px -1px,
    oklch(0.488 0.243 264.376 / 0.3) 0px 1px 3px -1px;
}

.bgGradient {
  background: #0210ca;
  background: linear-gradient(
    0deg,
    rgba(2, 16, 202, 0.15) 0%,
    rgba(2, 16, 202, 0.1) 5%,
    rgba(0, 0, 0, 0) 5%
  );
}

.bookGradient {
  background: #0210ca;
  background: linear-gradient(
    0deg,
    rgba(2, 16, 202, 0.3) 0%,
    rgba(2, 16, 202, 0.2) 10%,
    rgba(0, 0, 0, 0) 30%
  );
}

[data-radix-popper-content-wrapper] {
  min-width: 0 !important;
  width: 50% !important;
  max-width: 50% !important;
}
@media (max-width: 1024px) {
  [data-radix-popper-content-wrapper] {
    max-width: 80% !important;
    width: 80% !important;
  }
}
@media (max-width: 640px) {
  [data-radix-popper-content-wrapper] {
    max-width: 90% !important;
    width: 90% !important;
  }
}
[data-radix-popper-content-wrapper] [data-radix-popover-content] {
  min-width: 0 !important;
  width: 100% !important;
  border-radius: 30px;
}

[data-slot="input"] {
  padding: 0px 12px !important;
  min-height: 50px;
}
[data-slot="input"],
[data-slot="input-group"] {
  border: 1px solid var(--muted) !important;
  border-radius: 8px !important;
}
[data-slot="input"]:focus,
[data-slot="input-group"]:focus {
  outline: none;
  box-shadow: none;
}
[data-slot="input"]::placeholder,
[data-slot="input-group"]::placeholder {
  color: var(--muted-foreground);
}
[data-slot="input"]:focus-visible,
[data-slot="input-group-control"]:focus-visible {
  --tw-ring-color: transparent;
  box-shadow: none;
  outline: none;
}
.has-\[\[data-slot\=input-group-control\]\:focus-visible\]\:ring-ring\/50:has(
  [data-slot="input-group-control"]:focus-visible
) {
  --tw-ring-color: transparent !important;
}

[role="option"] {
  border-radius: 4px;
  transition: all 0.3 ease-in-out;
  color: var(--muted-foreground);
}
[role="option"]:hover {
  background-color: var(--primary) !important;
  color: var(--foreground);
}

[data-slot="field-label"] {
  font-weight: 600;
  font-size: 18px;
  color: var(--foreground);
}
[data-slot="field"] {
  gap: 4px;
}

[data-slot="card-content"]::-webkit-scrollbar {
  width: 12px;
}
[data-slot="card-content"]::-webkit-scrollbar-track {
  background: transparent;
}
[data-slot="card-content"]::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: 6px;
  border: 2px solid transparent;
  background-clip: padding-box;
}
[data-slot="card-content"]::-webkit-scrollbar-thumb:hover {
  background-color: var(--primary);
  opacity: 0.8;
}
[data-slot="card-content"]::-webkit-scrollbar-button {
  background-color: var(--primary);
  height: 16px;
}
[data-slot="card-content"]::-webkit-scrollbar-button:vertical:decrement {
  border-bottom: 2px solid transparent;
}
[data-slot="card-content"]::-webkit-scrollbar-button:vertical:increment {
  border-top: 2px solid transparent;
}
/* Firefox scrollbar styling */
[data-slot="card-content"] {
  scrollbar-width: thin;
  scrollbar-color: var(--primary) transparent;
}
